extends layout

include ../mixins/typography/page_title.pug
include ../mixins/typography/board_link.pug
include ../mixins/elements/thread.pug
include ../mixins/elements/form.pug

block stylesheets
  - const themeLink = `/stylesheets/themes/${theme}.css`;
  link(rel='stylesheet', href=themeLink)
  link(rel='stylesheet', href='/stylesheets/mixins/elements/form.css')
  link(rel='stylesheet', href='/stylesheets/mixins/elements/thread.css')
  link(rel='stylesheet', href='/stylesheets/mixins/elements/post.css')
  link(rel='stylesheet', href='/stylesheets/mixins/elements/attachment.css')
  link(rel='stylesheet', href='/stylesheets/mixins/typography/page_title.css')
  link(rel='stylesheet', href='/stylesheets/mixins/typography/post_title.css')
  link(rel='stylesheet', href='/stylesheets/mixins/typography/post_text.css')
  link(rel='stylesheet', href='/stylesheets/mixins/typography/post_meta_text.css')

block scripts
  script(type='module', src="/javascripts/elements/form.js")

block content
  .board-page-container
    +page_title(`Board - ${boardId}`)

    +form(boardId, null, true)

    .threads-container
      each thread, index in threads
        +thread(thread, true)
