extends layout

include ../mixins/typography/page_title.pug

block stylesheets
  - const themeLink = `/stylesheets/themes/${theme}.css`;
  link(rel='stylesheet', href=themeLink)
  link(rel='stylesheet', href='/stylesheets/pages/error_page.css')
  link(rel='stylesheet', href='/stylesheets/mixins/typography/page_title.css')

block content
  .error-page-container
    +page_title(err.message)

    .error-page-image-container
      - const imageId = Math.floor(Math.random() * 2);
      - const imageLink = `/images/not_found/not_found_${imageId}.png`;
      img.error-page-image(src=imageLink)
    
    +page_title(err.status)
    //- pre #{err.stack}
