extends layout

include ../mixins/typography/page_title.pug
include ../mixins/elements/board_section.pug

block stylesheets
  - const themeLink = `/stylesheets/themes/${theme}.css`;
  link(rel='stylesheet', href=themeLink)
  link(rel='stylesheet', href='/stylesheets/mixins/elements/board_section.css')
  link(rel='stylesheet', href='/stylesheets/mixins/typography/board_link.css')
  link(rel='stylesheet', href='/stylesheets/mixins/typography/page_title.css')
  link(rel='stylesheet', href='/stylesheets/mixins/typography/board_section_title.css')

block scripts
  script(type='module', src="/javascripts/pages/home.js")

block content
  .home-page-container

    +page_title('Homepage')

    ul.boards-list-container
      each section, index in sections
        +board_section(section, index)

    select#change-theme-select
      option(value='light') light
      option(value='dark') dark
