extends layout

include ../mixins/typography/page_title.pug
include ../mixins/typography/board_link.pug
include ../mixins/elements/thread.pug

block stylesheets
  - const themeLink = `/stylesheets/themes/${theme}.css`;
  link(rel='stylesheet', href=themeLink)
  link(rel='stylesheet', href='/stylesheets/mixins/elements/form.css')
  link(rel='stylesheet', href='/stylesheets/mixins/elements/thread.css')
  link(rel='stylesheet', href='/stylesheets/mixins/elements/post.css')
  link(rel='stylesheet', href='/stylesheets/mixins/elements/attachment.css')
  link(rel='stylesheet', href='/stylesheets/mixins/typography/page_title.css')
  link(rel='stylesheet', href='/stylesheets/mixins/typography/post_title.css')
  link(rel='stylesheet', href='/stylesheets/mixins/typography/post_text.css')
  link(rel='stylesheet', href='/stylesheets/mixins/typography/post_meta_text.css')

block content
  .thread-page-container

    +page_title(`Board - ${thread.board_id}. Thread - ${thread.id}.`)

    +thread(thread, false)
