.form-container {
  margin-bottom: 20px;
}

.closed {
  display: none;
}

.form-input {
  display: block;
  min-width: 100%;
  min-height: 1.5em;
  border: none;
  background-color: var(--background-color);
  margin-bottom: 20px;
  border-bottom: 1px solid var(--main-text-color);
  outline: none;
  caret-color: var(--main-text-color);
  color: var(--main-text-color);
  transition: 0.2s;
}
.form-input:focus {
  border-bottom: 1px solid var(--accent-text-color);
}

#thread-form-text {
  max-width: 100%;
  min-height: 3em;
}

.form-button-container {
  text-align: center;
}

.form-button {
  width: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.1s;
  outline: none;
  color: var(--main-text-color);
}
.form-button:hover {
  color: var(--accent-text-color);
}
.form-button:focus {
  color: var(--accent-text-color);
}
