.post-container {
  margin-bottom: 20px;
}

.post-container:last-child {
  margin-bottom: 0;
}

.post-attachments-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}
.post-attachments-container:last-child {
  margin-bottom: 0;
}