.thread-container {
  margin-bottom: 20px;
}
.thread-preview-container {
  border-bottom: 1px solid var(--main-text-color);
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.thread-preview-container:last-child {
  border-bottom: none;
  padding-bottom: 0;
}