mixin attachment(attachment, boardId, threadId)
  .attachment-container
    - const imageSourceLink = `/uploads/source/${boardId}/${threadId}/${attachment.uuid}-${attachment.name}`;
    - const imageThumbLink = `/uploads/thumb/${boardId}/${threadId}/${attachment.uuid}-${attachment.name}`;
    a(target='blank', href=imageSourceLink)
      img.attachment(src=imageThumbLink, alt=attachment.name)
