include ../typography/board_link.pug
include ../typography/board_section_title.pug

mixin board_section(section, index)
  li.board-section-container(class=index % 2 === 0
    ? 'text-align-left'
    : 'text-align-right'
  )
    +board_section_title(section.title)

    each board in section.boards
      - const url = `/boards/${board.id}`;
      - const text = `${board.id} - ${board.title}`;
      +board_link(url, text)