mixin form(boardId, threadId, isNewThread)
  .form-container
    form#thread-form()
      input.form-input#thread-form-title(name='title', placeholder='Title')
      textarea.form-input#thread-form-text(name='text', placeholder='Text')
      input#thread-form-files(name='files', type='file', multiple)
      .form-button-container
        button.form-button(type='submit') Send