include ../typography/post_title.pug
include ../typography/post_meta_text.pug
include ../typography/post_text.pug
include ./attachment.pug

mixin post(post, isPreview, boardId, index, remainedPosts)
  .post-container(id=!isPreview ? post.id : null)
    if post.title !== ''
      +post_title(post.title)

    .post-meta-texts-container
      - const date = `${new Date(post.created_at).toLocaleDateString()}`;
      +post_meta_text(date)
      - const time = ` ${new Date(post.created_at).toLocaleTimeString()}`;
      +post_meta_text(time)

      - const postIdLink = `/boards/${boardId}/threads/${post.thread_id}#${post.id}`;
      - const postIdLinkText = `#${post.id}`;
      .post-meta-text-container
        a.post-meta-text.thread-link(href=postIdLink)= postIdLinkText

      if isPreview && index === 0
        - const threadLink = `/boards/${boardId}/threads/${post.thread_id}`;
        .post-meta-text-container
          a.post-meta-text.thread-link(href=threadLink) Open

      if !isPreview
        +post_meta_text(index)
        
      if isPreview && index === 0
        div
          - const remainedPostsText = `Remained posts: ${remainedPosts}`;
          +post_meta_text(remainedPostsText)

    if post.attachments.length > 0
      .post-attachments-container
        each attachment, index in post.attachments
          +attachment(attachment, boardId, post.thread_id)


    if post.text !== ''
      - const textLines = post.text.split('\n');
      each line in textLines
        +post_text(line)