include ./post.pug

mixin thread(thread, isPreview)
  div(class=isPreview === true
    ? 'thread-preview-container'
    : 'thread-container'
  )
    each post, index in thread.posts
      +post(post, isPreview, thread.board_id, index, thread.remained_posts)