html {
  color: var(--main-text-color);
  background-color: var(--background-color);
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

@media only screen and (min-width: 0) {
  .content-container {
    margin: 0 10px;
  }
}

@media only screen and (min-width: 480px) {
  .content-container {
    margin: 0 10%;
  }
}

@media only screen and (min-width: 768px) {
  .content-container {
    margin: 0 20%;
  }
}

@media only screen and (min-width: 1920px) {
  .content-container {
    margin: 0 30%;
  }
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}