.board-link {
  font-size: 2.125em;
  text-decoration: none;
  transition: 0.2s;
  color: var(--main-text-color);
}
.board-link:hover {
  font-size: 2.5em;
  color: var(--accent-text-color);
}
.board-link:focus {
  font-size: 2.5em;
  color: var(--accent-text-color);
}