.post-meta-text-container {
  display: inline-block;
  margin: 0 10px 5px 0;
}
.post-meta-text {
  font-size: 0.8em;
  margin: 0;
}

.thread-link {
  color: inherit;
  transition: 0.1s;
}
.thread-link:hover {
  color: var(--accent-text-color);
}
.thread-link:focus {
  color: var(--accent-text-color);
}